@import "../../assets/styles/vars.css";

.root {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
}

.textarea {
	background: #f7f7f7;
	border: 1px solid #c7c7c7;
	border-radius: var(--borderRadiusRegular);
	/* border: none; */
	font-size: 10pt;
	max-width: 100%;
	margin: 15px 0;
	padding: 10px 15px;
	resize: none;
	height: 200px;
	width: 100%;

	&:focus {
		outline: none;
		border-color: #999;
	}
}

.errorList {
	font-size: 10pt;
	line-height: 14pt;
	margin: 0;
	padding: 0 20px;
}

.formFooter {
	text-align: right;
}
