/* @font-face {
	font-family: "ProximaNova";
	font-style: normal;
	font-weight: normal;
	src: local("Proxima Nova"), local("ProximaNova"),
		url("../fonts/proxima_nova/regular.woff") format("woff");
} */