:root {
	--colorPrimary: #2e5470;
	--colorLight: #999;
	--colorWarning: #ffc107;
	--colorSuccess: #4ec765;
	--colorDanger: #cd5654;

	--colorTextRegular: #333;

	--borderRadiusRegular: 4px;

	--shadowRegular: 2px 1px 6px rgba(153, 153, 153, 0.2);
}
