@import "../../assets/styles/vars.css";

.root {
}

.label {
	user-select: none;
	cursor: pointer;
}

.labelBorderBottom {
	border-bottom: 1px dashed;

	&:hover {
		border-bottom: 0;
		padding-bottom: 1px;
	}
}

.labelBorderBottomColorLight {
	border-bottom-color: var(--colorLight);
}

.content {
}
